# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=4PmL2OTCHtHG18cpgp1axQ==,1LSIgOh60zMlQL0y+GARlA==,SLlTgEiq3aVkhGi6Hhm8Uw==,S5a6TXc1HV7SsRpIb/LpHg==
API_TOKEN_SALT=xxCNbIr1TH//Pn/M7OfP1g==
ADMIN_JWT_SECRET=oVN98+b4AXnBSV73cick1w==
TRANSFER_TOKEN_SALT=uAIEsjstM3BgRqf5Ylji1w==
ENCRYPTION_KEY=OEwc9YAmRZYnDRQop5oYng==

# Database
DATABASE_CLIENT=sqlite
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=uWWHWLedPlMYbJZ1rO+SyA==
